*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/unnamed.png);
    background-size: contain;
    background-position: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}
.container{
    margin: 0 auto;
    max-width: 1100px;
    height: 100%;
    padding-bottom: 5px;
}
.__btn{
    margin-top: 5%;
    margin-left: calc(50% - 200px);
    text-align: center;
    font-size: 18px;
    letter-spacing: .5px;
    background-color: #a85832;
    color: #242123;
    border-radius: 10px;
    width: 400px;
    height: 50px;
    border: none;
}
.return__result{
    width: 400px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    color: #c9c9c9;
    background-color: #212121;
}